name: CI
on: [push, pull_request, workflow_dispatch]

jobs:
  GitVersion_v6:
    name: GitVersion v6
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-2025, ubuntu-24.04, macos-15 ]
      fail-fast: false
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: gittools/actions/gitversion/setup@v4.3.2
        name: Install GitVersion
        with:
          versionSpec: '6.x'
          includePrerelease: true
      - uses: gittools/actions/gitversion/execute@v4.3.2
        name: Use GitVersion
        with:
          configFilePath: 'GitVersion_v6.yml'
          overrideConfig: |
            semantic-version-format=Loose
        id: version_step # step id used as a reference for output values
      - run: |
          echo "FullSemVer (env.fullSemVer)                                   : ${{ env.fullSemVer }}"
          echo "FullSemVer (env.GitVersion_FullSemVer)                        : ${{ env.GitVersion_FullSemVer }}"
          echo "FullSemVer (steps.version_step.outputs.fullSemVer)            : ${{ steps.version_step.outputs.fullSemVer }}"
          echo "FullSemVer (steps.version_step.outputs.GitVersion_FullSemVer) : ${{ steps.version_step.outputs.GitVersion_FullSemVer }}"
        name: Use variables and output