name: Update examples version (test)

on:
  repository_dispatch:
    types: [ update-examples-test ]

defaults:
  run:
    shell: pwsh

jobs:
  update-examples-version:
    if: ${{ github.event_name == 'repository_dispatch' }}
    runs-on: ubuntu-24.04
    steps:
      - name: Auth and Checkout
        id: auth_and_checkout
        uses: gittools/cicd/auth-checkout@main
        with:
          op-token: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          fetch-depth: 0

      - run: |
          $oldTag = "${{ github.event.client_payload.oldTag }}"
          $newTag = "${{ github.event.client_payload.newTag }}"

          . .\update-version.ps1 # Import the functions
          dir -r .azure\gittools.gittools-test\**\*.yml | % { update-ci-files $_ -OldVersion $oldTag -NewVersion $newTag }
        name: Update examples version

      - uses: gittools/cicd/git-commit-push@main
        with:
          message: "update gittools.gittools-test version to ${{ github.event.client_payload.newTag }}"
        name: Push changes
