name: Update examples version

on:
  repository_dispatch:
    types: [ update-examples-test ]

defaults:
  run:
    shell: pwsh

jobs:
  update-examples-version:
    if: ${{ github.event_name == 'repository_dispatch' }}
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{ secrets.PUSH_GITHUB_TOKEN }}
      - run: |
          $oldTag = "${{ github.event.client_payload.oldTag }}"
          $newTag = "${{ github.event.client_payload.newTag }}"

          . .\update-version.ps1 # Import the functions
          dir -r .azure\gittools.gittools-test\**\*.yml | % { update-ci-files $_ -OldVersion $oldTag -NewVersion $newTag }

          git add --verbose .
          git config user.name 'gittools-bot'
          git config user.email 'gittoolsbot@outlook.com'
          git commit -m "update examples version to $newTag" --allow-empty
          git push --force
        name: Update examples version
